/* You can add global styles to this file, and also import other style files */
.centerContent {
  margin: auto;
  width: 75%;
}
.tabContentStyle {
  font-family: Tahoma;
  font-size: 12px;
}
.divScrollable {
  height: 300px;
  overflow-y: auto;
}
.userIconBig {
  font-size: 80pt;
  color: lightgrey;
}

.padContent { padding: 50px 10px 50px 10px; }

.padAll20 { padding: 20px 20px 20px 20px; }
.padL50 {
  padding-left: 50px;
}

.floatL {float:left;}
.floatR {float: right;}


.mBottom10 {margin-bottom: 10px;}
.mBottom12 {margin-bottom: 12px;}
.mBottom30 {margin-bottom:30px;}
  
.mTop20 {
  margin-top: 20px;
}
