
<div class="loading-spinner" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<div class="padAll10">
    <h3><label>{{lblAddEditUser}}</label> User</h3>
    <form class="userDetailsMatForm">
        <div class="padT10">
            <h5> Login Details </h5>
            <hr />
        </div>
        <div class="padT10">
            <mat-form-field class="matCtrl">
                <input matInput placeholder="Username" required>
            </mat-form-field>
        </div>
        <div class="padT10">
            <mat-form-field class="matCtrl">
                <input matInput placeholder="Password" [type]="passhide ? 'password' : 'text'" required>
                <mat-icon matSuffix (click)="passhide = !passhide">{{passhide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <mat-form-field class="matCtrl">
                <input matInput placeholder="Confirm Password" [type]="confirmhide ? 'password' : 'text'" required>
                <mat-icon matSuffix (click)="confirmhide = !confirmhide">{{confirmhide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
        </div>
        <div class="padT50">
            <h5> User Details </h5>
            <hr />
        </div>
        <div class="padT10">
            <mat-form-field class="matCtrl">
                <input matInput placeholder="First Name" required>
            </mat-form-field>
            <mat-form-field class="matCtrl">
                <input matInput placeholder="Last Name" required>
            </mat-form-field>
        </div>
        <div class="padT10">
            <mat-form-field class="matCtrl">
                <input matInput placeholder="Email" required>
            </mat-form-field>
        </div>
        <div class="padT10">
            <mat-form-field class="matCtrl">
                <mat-select placeholder="Roles" required>
                    <mat-option *ngFor="let op of roleOptions" [value]="op.roleId">
                        {{op.roleDisplayName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="matCtrl">
                <mat-select placeholder="User Type" required>
                    <mat-option *ngFor="let op of userTypeOptions" [value]="op.userTypeId">
                        {{op.userTypeDisplayName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row padT50">
            <div class="col-sm-2">
                <button id="btnSave" class="btn btn-dark btn-block" type="button" [disabled]="isSaving" (click)="save()">
                    Save
                </button>
            </div>
            <div class="col-sm-2">
                <button id="btnCancel" class="btn btn-dark btn-block" type="button" >
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>
